<!DOCTYPE html>
<html lang="en" data-bs-theme="auto">
  <body>  
    <main>
      <div class="album py-5 bg-body-tertiary">       
        <div class="container">
          <%# <div class="row row-cols-1 row-cols-md-3 g-4"> %>
            <%# @tweets.each do |tweet| %>
              <div class="col">
                <div class="card h-100">
                  
                  <!-- 画像の表示 -->
                  <%= image_tag(tweet.canvas_data) if tweet.canvas_data %>
                  
                  <div class="card-body">
                    
                    <!-- テキストの表示 -->
                    <p class="card-text text-center"><%= tweet.text %></p>
                    
                  </div>

                  <!-- 日付の表示 -->
                  <div class="card-footer">
                    <small class="text-body-secondary"><%= tweet.created_at %></small>
                  </div>

                </div>
              </div>
            <%# end %>
          <%# </div> %>
        </div>
      </div>
    </main>
  </body>  
<html>