<!DOCTYPE html>
<html>
  <head>
  <!-- Google Fontsの読み込み -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <style>
    .centered-content {
        display: flex;
        flex-direction: column;
        align-items: center; /* 横方向の中央揃え */
        justify-content: flex-start; /* 縦方向の開始位置に配置 */
        padding-top: 10vh; /* 上部からのパディングを10vhに設定 */
    }

    .large-text {
        font-size: 50px; /* または希望のサイズに設定 */
        margin-bottom: 20px; /* 余白の調整 */
        font-weight: bold;  /* 文字を太く */
        font-family: 'Roboto', sans-serif;  /* フォントの適用 */
        color: #3A3A3A;  /* 文字色の変更 */
        text-shadow: 2px 2px 0 #FFFFFF;  /* 文字の縁取り */
    }

     </style>
  </head>


  <div class="contents centered-content">
    <p class="large-text"><%= @nickname %>さんの投稿一覧</p>
    <% @tweets.each do |tweet| %>
      <%= render partial: "tweets/tweet", locals: { tweet: tweet } %>
    <% end %>
  </div>
</html>