// body::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background-image: image-url('/assets/IMG_3482.jpeg');
//   background-repeat: no-repeat; /* 背景画像の繰り返しを阻止 */
//   background-size: cover; /* 背景画像を全画面に合わせる */
//   background-position: center center;
//   background-attachment: fixed; /* 画像を固定 */
//   height: 100vh; /* 画面の高さに合わせる */
//   margin: 0; /* 余白を削除 */
//   padding: 0; /* 余白を削除 */
//   opacity: 0.3; /* 透明度を調整 */
//   z-index: -1; /* 背景レイヤーとして配置 */
// }

/* 背景画像コンテナ用の新しいスタイル */
.background-image-container {
  content: "";
  position: fixed; // スクロールしても背景が固定されるように
  top: 0;
  left: 50%;
  transform: translateX(-50%); // 画面の中央に配置
  width: 100vw;
  max-width: 1500px; // ここで最大横幅を設定
  height: 100vh;
  background: url('assets/IMG_3482.jpeg') no-repeat center center / cover;
  opacity: 0.3;
  z-index: -1;
}

//背景画面
/* bodyタグのスタイルを微調整 */
body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh; /* bodyの高さをビューポートに合わせます */
  overflow-x: hidden; /* 横スクロールバーが出ないようにする */
}

.custom-heading {
  position: relative;                 /* 絶対ポジショニング */
  top: 0;                             /* 上部からの位置 */
  left: 50%;                          /* 左から50%の位置に配置 */
  transform: translateX(-50%);        /* 要素の幅の半分だけ左に移動して中央揃え */
  color: red;                      /* 文字の色をオレンジに */
  font-size: 80px;                    /* 文字の大きさ */
  font-family: "Georgia", serif;      /* セリフ体のフォント */
  border: 10px solid;                 /* 枠線の設定 */
  border-image: linear-gradient(to right, pink, darkpink) 1; /* 枠線にピンク色から濃いピンクへのグラデーションを適用 */
  border-radius: 10px;                /* 枠の角を少し丸める */
  padding: 10px;                      /* ボーダーとテキストとの間のスペース */
  display: inline-block;              /* ボーダーをテキストの幅に合わせる */
  background: linear-gradient(pink, orange); /* ピンクからオレンジへの背景グラデーション */
  opacity: 0.7;                       /* 背景色を全体的に薄くする */
  text-shadow: -1px -1px 0 black,     /* 左上 */
               1px -1px 0 black,      /* 右上 */
               -1px 1px 0 black,      /* 左下 */
               1px 1px 0 black;       /* 右下 */
  margin-bottom: 80px;                /* 下側に80pxのマージンを追加 */
}
@import "bootstrap";
