body::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: image-url('/assets/IMG_3482.jpeg');
  background-repeat: no-repeat; /* 背景画像の繰り返しを阻止 */
  background-size: cover; /* 背景画像を全画面に合わせる */
  background-position: center center;
  background-attachment: fixed; /* 画像を固定 */
  height: 100vh; /* 画面の高さに合わせる */
  margin: 0; /* 余白を削除 */
  padding: 0; /* 余白を削除 */
  opacity: 0.3; /* 透明度を調整 */
  z-index: -1; /* 背景レイヤーとして配置 */
}

//背景画面
body {
  position: relative; /* 追加 */
 
}

.custom-heading {
  position: relative;       /* 絶対ポジショニング */
  top: 0;                   /* 上部からの位置 */
  left: 50%;                /* 左から50%の位置に配置 */
  transform: translateX(-50%); /* 要素の幅の半分だけ左に移動して中央揃え */
  color: blue;                   /* 文字の色 */
  font-size: 80px;               /* 文字の大きさ */
  font-family: "Georgia", serif; /* セリフ体のフォント */
  border: 10px solid black;       /* 黒色の2pxの縁取り */
  padding: 10px;                 /* ボーダーとテキストとの間のスペース */
  display: inline-block;         /* ボーダーをテキストの幅に合わせる */
  text-shadow: -1px -1px 0 black,   /* 左上 */
               1px -1px 0 black,    /* 右上 */
               -1px 1px 0 black,    /* 左下 */
               1px 1px 0 black;     /* 右下 */
  margin-bottom: 80px; /* 下側に50pxのマージンを追加 */            
}
@import "bootstrap";
